<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="./assets/js/index.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/styles/stylesProjects.css"
    />
    <title>Michael F. Mulderink</title>
  </head>

  <body>
    <div class="links">
      <ul>
        <li>
          <a href="https://angel.co/michael-f-mulderink"
            ><img src="../assets/images/angellist.svg"
          /></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/michaelfmulderink/"
            ><img src="../assets/images/linkedin.svg"
          /></a>
        </li>
        <li>
          <a href="https://github.com/Mulderink1"
            ><img src="../assets/images/github.svg"
          /></a>
        </li>
      </ul>
    </div>
    <div class="navBar">
      <ul>
        <ul class="name">
          <li class="name">
            <a href="http://michaelmulderink.us-east-2.elasticbeanstalk.com"
              >Michael F. Mulderink</a
            >
          </li>
        </ul>
        <ul class="about">
          <li class="about">
            <a
              href="http://michaelmulderink.us-east-2.elasticbeanstalk.com/contact"
              >Contact</a
            >
          </li>
          <li>
            <a
              href="http://michaelmulderink.us-east-2.elasticbeanstalk.com/projects"
              >Projects</a
            >
          </li>
        </ul>
      </ul>
    </div>
  </body>
</html>
