<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/png" href="../images/mm.png" />
    <link
      rel="stylesheet"
      type="text/css"
      media="(max-width: 600px)"
      href="./styles/smallStyles.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="(min-width: 601px)"
      href="./styles/styles.css"
    />
    <title>Mike Mulderink</title>
  </head>
  <body>
    <div class="bar">
      <div class="nav">
        <ul>
          <li>
            Mike Mulderink
          </li>
        </ul>
      </div>
      <div class="links">
        <ul>
          <li>
            <button id="myBtn">
              <img src="../images/mail.svg" />
            </button>
          </li>
          <li>
            <a href="https://angel.co/mikemulderink"
              ><img src="../images/angellist.svg"
            /></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/mikemulderink"
              ><img src="../images/linkedin.svg"
            /></a>
          </li>
          <li>
            <a href="https://github.com/Mulderink1"
              ><img src="../images/github.svg"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <p>
          <button class="clipboard" onclick="myFunction()">
            <p class="email">Mulderink.Mike@gmail.com</p>
          </button>
          <br />
          <br />
          or
          <br />
          <br />
          <a
            href="https://www.google.com/search?q=cute+cat+pics&source=lnms&tbm=isch&sa=X&ved=0ahUKEwig-orb943kAhV0KH0KHVnbBgYQ_AUIESgB&cshid=1566183372759118&biw=1680&bih=916&dpr=2"
          >
            See Cat Pictures
          </a>
        </p>
      </div>
    </div>
    <div>
      <img
        class="mikesPic"
        src="https://mikemulderinksite.s3.amazonaws.com/Mike600.jpg"
      />
    </div>
    <div class="aboutMike">
      <p>
        Mike is a full-stack software engineer @Reduxie based out of Los
        Angeles, California. His team launched an OpenSource tool that gives
        developers the ability to persist a client's Redux state for Progressive
        Web Apps asynchronously by utilizing indexedDB. Outside of Reduxie, Mike
        is a freelance Web Developer at M APPS. These projects are usually
        single page sites with a modern UI and a streamlined UX. When work hours
        are over, Mike is continuously contributing to the OpenSource ecosystem.
        <br /><br />
        Recently Mike spoke at Ethiq Engineering Speaker Series. He went over
        the benefits of migrating to a distributed systems architecture,
        "MicroServices". Before that, he spoke at CodeSmith about deploying
        Restful services leveraging Node.js/Express. He also offers guidance to
        new developers in the Los Angeles area; he is always happy to help.
      </p>
      Mike's day to day Tech Stack includes:
      <ul>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Node.js/Express</li>
        <li>React</li>
        <li>Redux</li>
        <li>AWS</li>
        <li>SQL/Postgres</li>
        <li>JEST</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Git</li>
      </ul>
      <br />
      Technologies Mike has worked with:
      <ul>
        <li>Go/Golang</li>
        <li>NoSQL</li>
        <li>Python</li>
        <li>Docker</li>
        <li>C</li>
        <li>CI/CD</li>
      </ul>
      <p>
        For inquiries, contact Mike through
        <button id="myBtn2nd">Email</button>,
        <a href="https://www.linkedin.com/in/mikemulderink">LinkedIn</a> or
        <a href="https://angel.co/mikemulderink">Anglelist</a>.
      </p>
    </div>
  </body>
  <script src="./js/index.js"></script>
</html>
