<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="./assets/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="./assets/styles/styles.css" />
    <title>Michael F. Mulderink</title>
  </head>
  <body>
    <div class="links">
      <ul>
        <li>
          <a href="https://angel.co/michael-f-mulderink"
            ><img src="../assets/images/angellist.svg"
          /></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/michaelfmulderink/"
            ><img src="../assets/images/linkedin.svg"
          /></a>
        </li>
        <li>
          <a href="https://github.com/Mulderink1"
            ><img src="../assets/images/github.svg"
          /></a>
        </li>
      </ul>
    </div>
    <div class="navBar">
      <ul>
        <ul class="name">
          <li class="name">
            <a href="http://184.72.72.43:3000">Michael F. Mulderink</a>
          </li>
        </ul>
        <ul class="about">
          <li class="about">
            <a href="http://184.72.72.43:3000/contact">Contact</a>
          </li>
          <li>
            <a href="http://184.72.72.43:3000/projects">Projects</a>
          </li>
        </ul>
      </ul>
    </div>
    <div>
      <img class="mikesPic" src="../assets/images/MikesHeadshot.JPG" />
    </div>
    <div class="aboutMike">
      <p>
        Michael F. Mulderink is a software engineer based out of Los Angeles
        California. Mike specilizes in web devolpoment over a vast tech stack,
        which includes JavaScript, TypeScript, Node.js, Python, Golang, C,
        Express, Flask, HTML 5, CSS3, SQL, NoSQL, AWS, Docker, MicroServices,
        JEST, Git, and CI/CD.
      </p>
      <p>
        These days Mike is working freelance at M APPS. Recent projects have a
        be recipe manager which also builds a grocrie list from specified
        recipies. Concurrently Mike is maintaining an open source developed tool
        @Reduxie, which allows developers to presist Redux state utilizing
        indexedDB for an offline first aproch.
      </p>
    </div>
  </body>
</html>
