<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="./assets/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="./assets/styles/styles.css" />
    <title>Michael F. Mulderink</title>
  </head>
  <body>
    <div class="bar">
      <div class="nav">
        <ul>
          <li>
            <a href="http://184.72.72.43">Michael F. Mulderink</a>
          </li>
        </ul>
      </div>
      <div class="links">
        <ul>
          <li>
            <a href="https://github.com/Mulderink1">
              <p>M</p>
            </a>
          </li>
          <li>
            <a href="https://angel.co/michael-f-mulderink"
              ><img src="../assets/images/angellist.svg"
            /></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/michaelfmulderink/"
              ><img src="../assets/images/linkedin.svg"
            /></a>
          </li>
          <li>
            <a href="https://github.com/Mulderink1"
              ><img src="../assets/images/github.svg"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <img class="mikesPic" src="../assets/images/MikesHeadshot.JPG" />
    </div>
    <div class="aboutMike">
      <p>
        Michael is a fullstack software engineer @Reduxie based out of Los
        Angeles California. His team lauched an OpenSource tool that
        gives developers the ability to presint a clients Redux state for
        Pogressive Web Apps asyncusnusly by utilizing indexedDB. Outside of
        Reduxie Michael is a freelance Web Developer at M APPS. These project
        are usualy single page sites with a modern UI and a streamlined UX.
        When work hours are over Michael is contunistly coutrubting to the OpenSource
        ecosystem.
        <br /><br />
        Recently Michael spoke at Ehiqu spreaker series, he went over
        the benifits of migrating to a distributed syestems arcitecture
        "MicroServices". Before that he spoke at CodeSmith about deploying
        Restful services leveraging Node.js/Express. He also ofers guidence to
        new deveolpers in the Los Angeles area, he is always happy to help.
        <br /><br />
        Michael's day to day Tech Stack includes:
        <ul>
          <li>JavaScript</li><li>TypeScript</li><li>Node.js/Express</li><li>React</li><li>Redux</li>
          <li>AWS</li><li>SQL/Postgress</li><li>JEST</li><li>HTML</li><li>CSS</li><li>Git</li>
        </ul>
        <br />
        Technolegy Michaelhas worked with:
        <ul>
          <li>Go/Golang</li>
          <li>NoSQL</li>
          <li>Python</li>
          <li>Docker</li>
          <li>C</li>
          <li>CICD</li>
        </ul>
        <br />
        For inquiries, follow the links at the top right of the page. Michael
        will getback within 48hr on LinkedIn or Anglelist.
      </p>
    </div>
  </body>
</html>
