body {
  color: #2c3e50;
  background-color: #ecf0f1;
  text-align: center;
  font-weight: 0;
  display: block;
  width: 300px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bar ul {
  height: 25px;
  list-style-type: none;
  padding: 0px;
  overflow: hidden;
  padding: 0px;
}
.nav {
  width: 50%;
  float: left;
}
.nav li {
  float: left;
  padding: 0px;
}
.nav li {
  font-weight: 300;
  font-size: 22px;
  color: #2c3e50;
  line-height: 100%;
  text-align: center;
  font-family: "proxima-nova", sans-serif;
  text-decoration: none;
}
.links {
  width: 50%;
  float: right;
}
.links li {
  float: right;
  padding-left: 5px;
}
.links li a {
  font-weight: 300;
  display: block;
  text-align: center;
  font-family: "proxima-nova", sans-serif;
  text-decoration: none;
}
.links img {
  height: 14px;
  padding-top: 4px;
}
.mikesPic {
  width: 300px;
  border-radius: 3px;
}
.aboutMike {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  font-family: "proxima-nova", sans-serif;
  text-align: left;
  padding-top: 5px;
}
.aboutMike li {
  font-size: 12px;
  font-weight: 200;
  line-height: 100%;
  font-family: "proxima-nova", sans-serif;
  text-align: left;
  padding: 2px;
}
.aboutMike a {
  text-decoration: none;
  color: #3498db;
}
