#h3Root {
  text-align: center;
  color: darkblue;
}
.links {
  font-size: 100%;
  text-align: center;
}
.mikesNameAndRole {
  font-size: 200%;
  text-align: center;
}
.mikesPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.aboutMike {
  font-size: 120%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
